.Calculator{
    text-align: center;
}
button{
    background-color: rgb(229, 116, 116);
   font-size: 50px;
   margin: 2px;
   text-align: center;
   width: 50px;
}
h1
{
    text-align: center;
}
div{
    text-align: center;
}