#bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#text {
    width: 500px;
    height: 300px;
    background-color: rgb(143, 206, 153);
    font-size: 5em;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.keyboard-container {
    display: flex; /* Set the keyboard container to flex */
    flex-wrap: wrap; /* Allow wrapping of buttons if needed */
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

#lang{
    border-radius: 5px;

}
h1
{
    font-size: 15px;
}
